.slideshowContainer {
  height: 200px;
  width: 100%;
  border-radius: 20px;
  margin: 0 auto;
  position: relative;
}

.slideshowIconLeft {
  background-color: transparent;
  border: none;
  font-size: 30px;
  color: white;
  margin: 0 25px;
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 2;
  transform: translateY(-50%);
  cursor: pointer;
}

.slideshowIconRight {
  background-color: transparent;
  border: none;
  font-size: 30px;
  color: white;
  margin: 0 25px;
  position: absolute;
  top: 50%;
  right: 0;
  z-index: 2;
  transform: translateY(-50%);
  cursor: pointer;
}

.slideshowImage {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.slideshowPicturesNumber {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  font-size: 16px;
  color: white;
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .slideshowContainer {
    height: 420px;
  }

  .slideshowIconLeft,
  .slideshowIconRight {
    font-size: 50px;
  }

  .slideshowPicturesNumber {
    font-size: 30px;
  }
}
