.tagItem {
  color: white;
  font-size: 10px;
  background-color: var(--primary-color);
  border-radius: 10px;
  height: 30px;
  width: 100px;
  margin-right: 10px;
  display: inline;
  vertical-align: initial;
  line-height: 30px;
  padding: 0 5px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .tagItem {
    font-size: 14px;
  }
}
