.titleContainer {
    background-image: linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .3)), url("../../assets/home-illustration.jpg");
    background-size: cover;
    width: 100%;
    height: 110px;
    display: flex;
    justify-content: center;
    border-radius: 25px;
    margin-bottom: 20px;
}

.homeTitle {
    align-self: center;
    color: rgba(255, 255, 255, 1);
    font-size: 24px;
    text-align: center;
}

.accomodationsContainer {
    background-color: var(--background-color);
    padding: 20px 0;
    margin-bottom: 20px;
}

.accomodationsList {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(1fr);
    grid-gap: 30px;
    padding: 0;
    position: relative;
    min-height: 400px;

}

.homeContainer {
    padding: 10px;
}

.errorText {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

@media screen and (min-width: 768px) {
    .titleContainer {
        height: 240px;
        margin-bottom: 40px;
    }

    .homeTitle {
        font-size: 48px;
    }

    .accomodationsList {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
        justify-items: center;
    }
}