.footerContainer {
    background-color: #000;
    color: #FFF;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    padding: 20px 0;
}

.footerLogo {
    width: 120px;
    height: 40px;
    align-self: center;
}

.footerText {
    font-size: 12px;
    padding: 20px 0;
}

@media screen and (min-width: 768px) {

    .footerText {
        font-size: 24px;
    }
}